*{
  margin: 0;
  padding: 0;
}

:root{
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}

body {
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
}

#page {
  width: 800px;
  padding: 24px;
  border-radius: 24px;
  margin: 48px auto 28px;
  background-color: #F0E8C2;
}

img {
  border-radius: 16px;
}

main {
  margin: 24px;
}

section + section {
  margin-top: 24px;
}

#about p + p{
  margin-top: 12px;
}

h1 {
  font-size: 40px;
  line-height: 140%;
}

h2{
    font-size: 24px;
}

h1, h2{
  color: #291B1A;
  margin-bottom: 4px;
  line-height: 150%;
}

ul {
  padding-left: 24px;
}

footer {
  color: #F0E8C2;
  text-align: center;
  padding-bottom: 48px;
}

footer img {
  vertical-align: middle;
}